* {
  box-sizing: border-box;
}

body {
  background: #cadde2;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
  line-height: 1.75;
}

a {
  color: #0f1fe4;
  text-decoration: none;
}

.content {
  background: #fff;
  color: #000;
  border: 1px solid #000;
  padding: 10px 15px;
}

img {
  display: block;
  width: 100%;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.container {
  display: block;
  max-width: 1280px;
  margin: 0 auto;
}

.clearf:after,
.clearf:before {
  content: "";
  display: block;
  clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9 {
  display: block;
  position: relative;
  min-height: 1px;
  float: left;
}

.col-1 {
  width: 10%;
}

.col-2 {
  width: 20%;
}

.col-3 {
  width: 30%;
}

.col-4 {
  width: 40%;
}

.col-5 {
  width: 50%;
}

.col-6 {
  width: 60%;
}

.col-7 {
  width: 70%;
}

.col-8 {
  width: 80%;
}

.col-9 {
  width: 90%;
}

.top_inf .per_image {
  max-width: 250px;
}

.top_inf .col-8 {
  padding-left: 10px;
}

hr {
    display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    max-width: 1280px;
}

.title-little {
  font-size: 18px;
  color: #3059a5;
}

.title-large {
  font-size: 22px;
  color: #3059a5;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.ach_mov .mov_image {
  max-width: 250px;
}

.perio_paper .paper_image,
.grad_thesis .grad_image,
.acad_back .acad_image {
  max-width: 250px;
}

.blur{
	background-color: #cccccc; /*shadow color*/
	color: inherit;
	margin-left: 4px;
	margin-top: 4px;
  max-width: 250px;
}

.shadow,
.content,
.imcontent{
	position: relative;
	bottom: 2px;
	right: 2px;
}

.shadow{
	background-color: #999999; /*shadow color*/
	color: inherit;
}

.content{
	background-color: #fff; /*background color of content*/
	color: #000; /*text color of content*/
	border: 1px solid #000; /*border color*/
	padding: .5em 2ex;
}

.imcontent{
	background-color: #fff; /*background color of content*/
	color: #000; /*text color of content*/
	border: 1px solid #000; /*border color*/
}

.perio_paper .col-8,
.grad_thesis .col-8,
.acad_back .col-8 {
  padding-left: 5px;
}

.top_inf .top_text {
  font-size: 18px;
}

.intro_text {
  font-size: 16px;
}

.perio_paper .title,
.grad_thesis .title {
  font-size: 18px;
  font-weight: 500;
  color: #3059a5;
}

.perio_paper .col-8,
.perio_paper .col-2,
.grad_thesis .col-8,
.grad_thesis .col-2 {
  padding-bottom: 15px;
}

.acad_conf {
  line-height: 2;
}

.side-bar {
  float: left;
  width: 20%;
}

.main {
  float: left;
  width: 80%;
}

.top_inf .main {
  padding-left: 8px;
}

.footer {
  text-align: center;
  color: #999;
  padding-top: 10px;
}

.acad_back .col-8,
.acad_back .col-2 {
  padding-bottom: 15px;
}
