.side-bar {
  position: relative;
  width: 100%;
  float: none;
}

.main {
  width: 100%;
}

.ach_mov .col-2 {
  width: 50%;
}

.perio_paper .col-2 {
  position: relative;
  width: 100%;
  float: none;
}

.perio_paper .col-8 {
  width: 100%;
}

.grad_thesis .col-2 {
  position: relative;
  width: 100%;
  float: none;
}

.grad_thesis .col-8 {
  width: 100%;
}

.acad_back .col-2 {
  position: relative;
  width: 100%;
  float: none;
}

.acad_back .col-8 {
  width: 100%;
}
